<!doctype html>
<html>
<head>
  <meta charSet="utf-8" />
  <title>运筹帷幄</title>
  <style>
    html,body {
      min-height: 100%;
    }
    body div{
      height: 100%;
    }
    body{
      padding: 0px;
      margin: 0px;
    }
  </style>
</head>
<body>
  <div id="root">

  </div>
</body>
</html>